<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>el titulo del navegador</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link href="/css/normalize.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/72d35dbdee.js"
      crossorigin="anonymous"
    ></script>

    <link href="/css/style.css" rel="stylesheet" />
  </head>

  <header>
    <nav class="navegacion">
      <div class="barra-primera">
        <div class="logo">
          <i><img src="/images/logo-mercado-liebre.svg" /></i>
        </div>

        <div class="search-bar">
          <i>
            <input
              type="search"
              value="Buscar productos, Marcas"
              type="text"
              width="80%"
            />
          </i>
          <i class="fa-solid fa-magnifying-glass fa-2xl"></i>
        </div>

        <div>
          <i class="fa-solid fa-hand-holding-dollar"></i>
          <i class="primer-titular"
            >Comprá en cuotas y sin tarjeta de crédito</i
          >
        </div>
      </div>

      <div class="barra-segunda">
        <ul class="left-navbar">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>

        <ul class="right-navbar">
          <li>
            <div>
              <i><a href="#">Creá tu cuenta</a> </i>
              <i class="fa-regular fa-address-card"></i>
            </div>
          </li>
          <li>
            <div>
              <i><a href="#">Ingresá</a></i
              ><i class="fa-solid fa-arrow-right-to-bracket"></i>
            </div>
          </li>
          <li>
            <div>
              <i><a href="#">Mis compras </a></i
              ><i class="fa-solid fa-basket-shopping"></i>
            </div>
          </li>
        </ul>
      </div>
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </nav>
  </header>

  <form action="/crear-producto" method="POST">
    aca van los elementos del formulario

  </form>

  <body>
    <div class="titulares"><h1>Basado en tu última visita</h1></div>
    <section class="seccion1">
      <div class="articulos">
        <div>
          <img
            src="/images/img-cafetera-moulinex.jpg"
            class="imagenes-articulos"
            alt=""
          />
        </div>
        <div class="texto-articulos">
          <i class="fa-solid fa-truck shipping"></i>
          <div class="precio-descuento">
            <h4 class="precios">$6.770</h4>
            <h4 class="descuentos">40% OFF</h4>
          </div>
          <h4 class="descripciones">Cafetera Moulinex</h4>
        </div>
      </div>

      <div class="articulos">
        <div>
          <img
            src="/images/img-macbook-pro-2019.jpg"
            class="imagenes-articulos"
            alt=""
          />
        </div>
        <div class="texto-articulos">
          <i class="fa-solid fa-truck shipping"></i>
          <div class="precio-descuento">
            <h4 class="precios">$230.000</h4>
            <h4 class="descuentos">20% off</h4>
          </div>
          <h4 class="descripciones">MacBook Pro 2019</h4>
        </div>
      </div>

      <div class="articulos">
        <div>
          <img
            src="/images/img-samsung-galaxy-s10.jpg"
            class="imagenes-articulos"
            alt=""
          />
        </div>
        <div class="texto-articulos">
          <i class="fa-solid fa-truck shipping"></i>
          <div class="precio-descuento">
            <h4 class="precios">$70.500</h4>
            <h4 class="descuentos">10% off</h4>
          </div>
          <h4 class="descripciones">Samsung Galaxy S10</h4>
        </div>
      </div>

      <div class="articulos">
        <div>
          <img
            src="/images/img-tv-samsung-smart.jpg"
            class="imagenes-articulos"
            alt=""
          />
        </div>
        <div class="texto-articulos">
          <i class="fa-solid fa-truck shipping"></i>
          <div class="precio-descuento">
            <h4 class="precios">$23.200</h4>
            <h4 class="descuentos">5% off</h4>
          </div>
          <h4 class="descripciones">SmartTv Samsung 43"</h4>
        </div>
      </div>
    </section>

    <div class="titulares"><h1>Ofertas</h1></div>
    <section class="seccion2">
      <div class="articulos">
        <div>
          <img
            src="/images/img-cafetera-moulinex.jpg"
            class="imagenes-articulos"
            alt=""
          />
        </div>
        <div class="texto-articulos">
          <i class="fa-solid fa-truck shipping"></i>
          <div class="precio-descuento">
            <h4 class="precios">$6.770</h4>
            <h4 class="descuentos">40% OFF</h4>
          </div>
          <h4 class="descripciones">Cafetera Moulinex</h4>
        </div>
      </div>

      <div class="articulos">
        <div>
          <img
            src="/images/img-macbook-pro-2019.jpg"
            class="imagenes-articulos"
            alt=""
          />
        </div>
        <div class="texto-articulos">
          <i class="fa-solid fa-truck shipping"></i>
          <div class="precio-descuento">
            <h4 class="precios">$230.000</h4>
            <h4 class="descuentos">20% off</h4>
          </div>
          <h4 class="descripciones">MacBook Pro 2019</h4>
        </div>
      </div>

      <div class="articulos">
        <div>
          <img
            src="/images/img-samsung-galaxy-s10.jpg"
            class="imagenes-articulos"
            alt=""
          />
        </div>
        <div class="texto-articulos">
          <i class="fa-solid fa-truck shipping"></i>
          <div class="precio-descuento">
            <h4 class="precios">$70.500</h4>
            <h4 class="descuentos">10% off</h4>
          </div>
          <h4 class="descripciones">Samsung Galaxy S10</h4>
        </div>
      </div>
    </section>
  </body>
  <footer>
    <ul>
      <li>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>
          on Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </li>
      <li>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </li>

      <li><h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3></li>
    </ul>

    <a href="www.google.com">Pagina a google</a>
    <p>Author:Eder Samir Correa Acosta</p>
    <p><a href="mailto:hege@example.com">edersamir@gmail.com</a></p>
  </footer>
</html>
